%ul.sidebar-menu
  %li.menu-header Menu
  %li.dropdown
    %a.nav-link.has-dropdown{href: '#'}
      %i.fas.fa-home
      %span Menu
    %ul.dropdown-menu
      %li
        %a.nav-link{href: '#'}
          %span Submenu
      %li
        %a.nav-link{href: '#'}
          %span Submenu
      %li
        %a.nav-link{href: '#'}
          %span Submenu
      %li
        %a.nav-link{href: '#'}
          %span Sumbenu

