module Client
  module Api
    class <%= controller_class_name %> < ApiController

      def create
        @<%= singular_name %> = <%= model_name %>.new(<%= singular_name %>_params)

        if @<%= singular_name %>.save
<% attachable_galleries.each do |gallery| -%>
          @<%= singular_name %>.<%= gallery %>.attach(blobs(:<%= gallery %>) )if blobs(:<%= gallery %>).present?
<% end -%>
          head :created
        else
          render json: @<%= singular_name %>, status: :unprocessable_entity
        end
      end

      private

      def <%= singular_name %>_params 
        params.require(:<%= singular_name %>).permit(<%= params_to_permit %>)
      end
    end
  end
end
