module Dashboard
  class <%= controller_class_name %> < DashboardController
    before_action :set_<%= singular_name %>, except: [:create, :new, :index]

    def index
      <%= index_to_show %>
    end

    def new
      @<%= singular_name %> = <%= model_name %>.new
    end

    def edit
    end

    def show
      redirect_to action: :edit
    end

    def create
      @<%= singular_name %> = <%= model_name %>.new(<%= singular_name %>_params)
      respond_to do |format|
        if @<%= singular_name %>.save
<% attachable_galleries.each do |gallery| -%>
          @<%= singular_name %>.<%= gallery %>.attach(blobs(:<%= gallery %>) )if blobs(:<%= gallery %>).present?
<% end -%>
          format.html { redirect_to action: :index, notice: "<%= singular_name %> created successfully!" }
          format.json { render json: { location: dashboard_<%= plural_name %>_url }, status: :created }
        else
          format.html { redirect_to action: :new, notice: "failed to create <%= singular_name %>" }
          format.json { render json: @<%= singular_name %>.errors, status: :unprocessable_entity }
        end
      end
    end

    def update
      respond_to do |format|
        if @<%= singular_name %>.update(<%= singular_name %>_params)
<% attachable_galleries.each do |gallery| -%>
          @<%= singular_name %>.<%= gallery %>.attach(blobs(:<%= gallery %>) )if blobs(:<%= gallery %>).present?
<% end -%>
          format.html { redirect_to action: :index, notice: "<%= singular_name %> updated successfully!" }
          format.json { render json: { location: dashboard_<%= plural_name %>_url }, status: :created }
        else
          format.html { redirect_to action: :edit, notice: "failed to update <%= singular_name %>" }
          format.json { render json: @<%= singular_name %>.errors, status: :unprocessable_entity }
        end
      end
    end

    def destroy
      respond_to do |format|
        if @<%= singular_name %>.destroy
          format.html { redirect_to action: :index, notice: "<%= singular_name %> deleted successfully!" }
          format.json { render json: { location: dashboard_<%= plural_name %>_url }, status: :ok }
        else
          format.html { redirect_to action: :index, notice: "failed to delete <%= singular_name %>" }
          format.json { render json: @<%= singular_name %>.errors, status: :unprocessable_entity }
        end
      end
    end

    private

    def set_<%= singular_name %>
      @<%= singular_name %> = <%= setter_to_show[:finder] %>
    rescue ActiveRecord::RecordNotFound
      redirect_to <%= setter_to_show[:redirect] %>
    else
      objectize(@<%= singular_name %>)
    end

    def <%= singular_name %>_params 
      params.require(:<%= singular_name %>).permit(<%= params_to_permit.join(', ') %>)
    end

  end
end
