.col-sm-12.col-md-7
  .input-group
    .input-group-prepend
      .input-group-text
        = args[:currency]
    %input.form-control.currency{value: args[:formatted], **args.except(:currency, :name, :value)}/
    = hidden_field_tag args[:name], args[:value]
    .invalid-feedback{id: "invalid-feedback-#{args[:id]}"}= args[:errors]&.join(', ')
