.col-sm-12.col-md-7.image-field{class: (args[:signed_id].present? ? 'attached' : '' )}
  .image-preview{style: "background-image: url('#{args[:src]}')", class: "#{'is-invalid' if args[:errors].present?}"}
    %label.add-file{for: args[:id]} Choose File
    %label.delete-button Remove File
    %input.image-upload{type: :file, 'data-name': args[:name], **args.except(:errors, :name)}/
    - if args[:signed_id]
      %input.signed-id{type: :hidden, name: args[:name], value: args[:signed_id]}
  .invalid-feedback{id: "invalid-feedback-#{args[:id]}"}= args[:errors]&.join(', ')
