.col-sm-12.col-md-7
  %select.form-control.select2-ajax{class: "#{'is-invalid' if args[:errors].present?}", **args.except(:errors)}
  .invalid-feedback{id: "invalid-feedback-#{args[:id]}"}= args[:errors]&.join(', ')
