!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = @title || "Bali Citra Medina"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{charset: "utf-8"}/
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "#559fd6", name: "theme-color"}/
    %meta{content: "noindex, nofollow, noarchive, noodp", name: "robots"}/
    %link{href: "https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300,700", rel: "stylesheet"}/
    = stylesheet_pack_tag "dashboard"
    = yield :head_block
  %body
    .main-wrapper
      #app.app
        %header.header
          .header-block.header-block-collapse.d-lg-none.d-xl-none
            %button#sidebar-collapse-btn.collapse-btn
              %i.fa.fa-bars
          .header-block.header-block-nav
            %ul.nav-profile
              %li.profile.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                  %span.name
                    USER
                    -# = current_user.full_name
                .dropdown-menu.profile-dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  -# = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                    %i.fa.fa-power-off.icon
                    Logout
        %aside.sidebar
          .sidebar-container
            .sidebar-header
              .brand
                / Change to other instance accourdingly
                = link_to "<%= Rails.application.class.module_parent_name.titleize %>", "/", rel: "noopener noreferrer", target: :_blank
            %nav.menu
              %ul#sidebar-menu.sidebar-menu.metismenu

        #sidebar-overlay.sidebar-overlay
        #sidebar-mobile-menu-handle.sidebar-mobile-menu-handle
        .mobile-menu-handle
        = yield
        %footer.footer
          .footer-block.buttons
          .footer-block.author
            %ul
              %li
                Developed  with ❤️ by
                = link_to "Asteroit Digital Solutions",  "https://www.asteroit.id", target: :_blank
    / Reference block for JS
    #ref.ref
      .color-primary
      .chart
        .color-primary
        .color-secondary
    / = javascript_include_tag 'dashboard'
    = javascript_pack_tag 'dashboard'
    = yield :script
