class <%= migration_class_name %> < ActiveRecord::Migration[5.2]
  def change
    create_table :<%= table_name %> do |t|
<% migration_attributes.each do |migration| -%>
<% next if migration.blank? -%>
      t.<%= migration[:field] %> :<%= migration[:name] %><%= ", #{migration[:options].join(', ')} "if migration[:options].present? %>
<% end -%>

      t.timestamps null: false
    end
  end
end
